<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/navStyles.css">
    <title>About - Conecta-EAFIT</title>
</head>
<body>
    <header>
        <div class="menu">
            <img src="../img/logoEAFIT.png" alt="EAFIT">
            <nav>
                <ul>
                    <li><a href="./menu.html">Menu</a></li>
                    <li><a href="./subjects.html">Subjects</a></li>
                    <li><a href="./university.html">University</a></li>
                    <li><a href="./about.html">About</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>