<!-- formulario_personalizado.html -->

{% extends 'base.html' %}

{% block content %}

<style>
  .form-group {
    margin-bottom: 20px;
  }
  #id_description {
    height: 200px;
    resize: vertical;
  }
  #id_image {
    width: 100%;
  }
  .form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f8f8f8;
    color: #333;
  }
  .form-group input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f8f8f8;
    color: #333;
  }
  .form-group input[type="url"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f8f8f8;
    color: #333;
  }
  .form-group #id_image {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #1845ad;
    color: white;
    border: 1px solid #1845ad;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
  }
  .form-group select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f8f8f8;
    color: #333;
    appearance: none;
  }
  .form-group textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f8f8f8;
    color: #333;
    resize: vertical;
    min-height: 100px;
  }
</style>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h1 class="text-center">Añadir Noticia</h1>
        </div>
        <div class="card-body">
          <form method="POST" action="{% url 'add_noticias' %}" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="form-group">
              <label for="id_title">Nombre de la Noticia:</label>
              {{ form.headline }}
            </div>
            
            <div class="form-group">
              <label for="id_description">Cuerpo:</label>
              {{ form.body }}
            </div>
            <div class="form-group">
              <label for="id_image">Fecha de publicación (YYYY-MM-DD):</label>
              {{ form.date }}
            </div>
            <div class="form-group">
              <label for="id_image">Nombre de profesores involucrados:</label>
              {{ form.author }}
            </div>
          
            
            <!-- Agregar otros campos aquí -->

            <div class="form-group">
              <button type="submit" class="btn btn-primary">Añadir</button>
              <a href="{% url 'home1' %}" class="btn btn-secondary">Volver al Menú</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
