<!-- formulario_personalizado.html -->

{% extends 'base.html' %}

{% block content %}

<style>
  /* Estilo personalizado para los campos del formulario */
  .form-group {
    margin-bottom: 20px; /* Espacio entre cada campo */
  }

  /* Estilo personalizado para el campo de descripción */
  #id_description {
    height: 200px; /* Altura del campo de descripción */
    resize: vertical; /* Permitir que el campo de descripción se redimensione verticalmente */
  }

  /* Estilo personalizado para el campo de imagen */
  #id_image {
    width: 100%; /* Ancho del campo de imagen */
  }

  /* Estilo personalizado para los demás campos */
  /* Puedes agregar estilos adicionales según tus necesidades */
</style>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h1 class="text-center">Añadir Noticia</h1>
        </div>
        <div class="card-body">
          <form method="POST" action="{% url 'add_noticias' %}" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="form-group">
              <label for="id_title">Nombre de la Noticia:</label>
              {{ form.headline }}
            </div>
            
            <div class="form-group">
              <label for="id_description">Cuerpo:</label>
              {{ form.body }}
            </div>
            <div class="form-group">
              <label for="id_image">Fecha:</label>
              {{ form.date }}
            </div>
            <div class="form-group">
              <label for="id_image">Nombre de profesores involucrados:</label>
              {{ form.author }}
            </div>
          
            
            <!-- Agregar otros campos aquí -->

            <div class="form-group">
              <button type="submit" class="btn btn-primary">Añadir</button>
              <a href="{% url 'home1' %}" class="btn btn-secondary">Volver al Menú</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
