<!-- formulario_personalizado.html -->

{% extends 'base.html' %}

{% block content %}

<style>
  /* Estilo personalizado para los campos del formulario */
  .form-group {
    margin-bottom: 20px; /* Espacio entre cada campo */
  }

  /* Estilo personalizado para el campo de descripción */
  #id_description {
    height: 200px; /* Altura del campo de descripción */
    resize: vertical; /* Permitir que el campo de descripción se redimensione verticalmente */
  }

  /* Estilo personalizado para el campo de imagen */
  #id_image {
    width: 100%; /* Ancho del campo de imagen */
  }

  /* Estilo personalizado para los demás campos */
  /* Puedes agregar estilos adicionales según tus necesidades */
</style>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h1 class="text-center">Añadir Profesor</h1>
        </div>
        <div class="card-body">
          <form method="POST" action="{% url 'add_record' %}" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="form-group">
              <label for="id_title">Nombre Completo:</label>
              {{ form.title }}
            </div>
            <div class="form-group">
              <label for="id_year">Email:</label>
              {{ form.email }}
            </div>
            <div class="form-group">
              <label for="id_description">Descripción:</label>
              {{ form.description }}
            </div>
            
            <div class="form-group">
              <label for="id_image">Imagen:</label>
              {{ form.image }}
            </div>
            
            <div class="form-group">
              <label for="id_url">linkedIn:</label>
              {{ form.url }}
            </div>
            
            <div class="form-group">
              <label for="id_genre">Género:</label>
              {{ form.genre }}
            </div>
            
            <div class="form-group">
              <label for="id_year">Fecha de nacimiento (YYYY-MM-DD):</label>
              {{ form.year }}
            </div>
            
            <div class="form-group">
              <label for="id_carreers">Carreras:</label>
              {{ form.carreers }}
            </div>
            
            <!-- Agregar otros campos aquí -->

            <div class="form-group">
              <button type="submit" class="btn btn-primary">Añadir</button>
              <a href="{% url 'home1' %}" class="btn btn-secondary">Volver al Menú</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
