{% extends 'base.html' %}

{% block content %}
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

<style>
  .form-group {
    margin-bottom: 20px;
  }
  #id_description {
    height: 200px;
    resize: vertical;
  }
  #id_image {
    width: 100%;
  }
  .form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f8f8f8;
    color: #333;
  }
  .form-group input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f8f8f8;
    color: #333;
  }
  .form-group input[type="url"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f8f8f8;
    color: #333;
  }
  .form-group #id_image {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #1845ad;
    color: white;
    border: 1px solid #1845ad;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
  }
  .form-group select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f8f8f8;
    color: #333;
    appearance: none;
  }
  .form-group textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f8f8f8;
    color: #333;
    resize: vertical;
    min-height: 100px;
  }
</style>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h1 class="text-center">Añadir Profesor</h1>
        </div>
        <div class="card-body">
          <form method="POST" action="{% url 'add_record' %}" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="form-group">
              <label for="id_title">Nombre Completo:</label>
              {{ form.title }}
            </div>
            <div class="form-group">
              <label for="id_year">Email:</label>
              {{ form.email }}
            </div>
            <div class="form-group">
              <label for="id_description">Descripción (MIN 120 caracteres):</label>
              {{ form.description }}
            </div>
            
            <div class="form-group">
              <label for="id_image">Imagen:</label>
              {{ form.image }}
            </div>
            
            <div class="form-group">
              <label for="id_url">linkedIn:</label>
              {{ form.url }}
            </div>
            
            <div class="form-group">
              <label for="id_genre">Género:</label>
              {{ form.genre }}
            </div>
            
            <div class="form-group">
              <label for="id_year">Fecha de nacimiento (YYYY-MM-DD):</label>
              {{ form.year }}
            </div>
            
            <div class="form-group">
              <label for="id_carreers">Materias: (Ctrl + click):</label>
              {{ form.carreers }}
            </div>
            
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Añadir</button>
              <a href="{% url 'home1' %}" class="btn btn-secondary">Volver al Menú</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
